In [136]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda33\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda33\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda33\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda33\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [137]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [165]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
#jobs data.
driver=webdriver.Chrome()
driver.get('https://www.shine.com/new/job-search')
job_title=driver.find_element(By.CLASS_NAME,"form-control")
job_title.send_keys('Data Analysis')
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button")
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
exp_required=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    location=i.text
    job_location.append(location)
    
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company=i.text
    company_name.append(company)
    
experience=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience[0:10]:
    experience=i.text
    exp_required.append(experience)

In [ ]:
##Q-4  Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#Brand
#ProductDescription
#Price

In [202]:
driver=webdriver.Chrome()

In [203]:
driver.get("https://www.flipkart.com/")

In [204]:
glasses=driver.find_element(By.CLASS_NAME,'_3704LK')
glasses.send_keys('sunglasses')

In [206]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [213]:
brand=[]
product_description=[]
price=[]
Brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand[0:35]:
    Brand=i.text
    brand.append(Brand)
    
Product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_description[0:35]:
    Product_description=i.text
    product_description.append(Product_description)

Price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price[0:35]:
    Price=i.text
    price.append(Price)

import pandas as pd
df1=pd.DataFrame({'Brand':brand,'Product_description':product_description,'Price':price})
df1

            Brand                                Product_description   Price
0    Singco India          UV Protection Rectangular Sunglasses (55)    ₹502
1   VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)    ₹883
2            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹204
3          PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹239
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹179
5       Elligator   UV Protection, Mirrored Wayfarer Sunglasses (54)    ₹199
6       Rich Club                   Mirrored Aviator Sunglasses (58)    ₹495
7       ROYAL SON   UV Protection Rectangular Sunglasses (Free Size)    ₹379
8        Fastrack             UV Protection Wayfarer Sunglasses (58)    ₹629
9        Fastrack  by Lenskart Polarized, UV Protection Round Sun...    ₹769
10  VINCENT CHASE     Polarized, UV Protection Round Sunglasses (48)    ₹883
11    john jacobs  UV Protection Retro Square Sunglasses (Free Size)  ₹6,000
12     iCopertina              UV Protection Cat-eye Sunglasses (41)    ₹219
13         VOYAGE              UV Protection Aviator Sunglasses (58)    ₹999
14       Fastrack  UV Protection Wayfarer, Sports, Spectacle , Re...  ₹1,037
15        ROADWAY         UV Protection Retro Square Sunglasses (51)    ₹294
16    john jacobs  Polarized, UV Protection Rectangular Sunglasse...  ₹3,134
17    john jacobs         UV Protection Retro Square Sunglasses (54)  ₹3,740
18     SmartGlass  UV Protection, Night Vision, Riding Glasses Ov...    ₹429
19      Rich Club  Polarized, UV Protection Retro Square Sunglass...    ₹488
20        LAMANSH  UV Protection, Gradient Butterfly Sunglasses (62)    ₹250
21    Eyewearlabs             UV Protection Wayfarer Sunglasses (63)  ₹1,999
22      ROYAL SON  Polarized, UV Protection Retro Square Sunglass...    ₹594
23      Elligator                   Mirrored Aviator Sunglasses (55)    ₹168
24  VINCENT CHASE  Polarized, UV Protection Retro Square Sunglass...    ₹883
25           BKGE             UV Protection Wayfarer Sunglasses (59)    ₹197
26      ROYAL SON  Mirrored, Night Vision, UV Protection Wayfarer...    ₹398
27      ROYAL SON                     Gradient Round Sunglasses (51)    ₹594
28     SmartGlass  Night Vision, UV Protection, Polarized Wrap-ar...    ₹429
29  VINCENT CHASE  Polarized, UV Protection Retro Square Sunglass...    ₹569
30     style guru          Night Vision Retro Square Sunglasses (60)    ₹771
31           IDEE              UV Protection Aviator Sunglasses (59)  ₹2,680
32         RBGIIT  Polarized, UV Protection Wayfarer Sunglasses (56)    ₹225
33      ROYAL SON  Polarized, Riding Glasses Sports, Wrap-around ...    ₹551
34     SmartGlass  by Lenskart Polarized, UV Protection Round Sun...    ₹429

In [214]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
search.click()

In [ ]:
brand=[]
product_description=[]
price=[]

In [215]:
Brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand:
    Brand=i.text
    brand.append(Brand)

Product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_description:
    Product_description=i.text
    product_description.append(Product_description)

Price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price:
    Price=i.text
    price.append(Price)
import pandas as pd
df1=pd.DataFrame({'Brand':brand,'Product_description':product_description,'Price':price})
df1

             Brand                                Product_description   Price
0     Singco India          UV Protection Rectangular Sunglasses (55)    ₹502
1    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)    ₹883
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹204
3           PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹239
4        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹179
..             ...                                                ...     ...
70   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹699
71  RESIST EYEWEAR  Polarized, Riding Glasses, UV Protection Wayfa...  ₹1,312
72            IDEE             UV Protection Wayfarer Sunglasses (50)  ₹1,059
73         ROADWAY  UV Protection Retro Square Sunglasses (Free Size)    ₹222
74          PIRASO            UV Protection Butterfly Sunglasses (65)    ₹392

[75 rows x 3 columns]

In [222]:
dataframe=[df,df1]
result=pd.concat(dataframe)
result

             Brand                                Product_description   Price
0     Singco India          UV Protection Rectangular Sunglasses (55)    ₹502
1        ROYAL SON                   Mirrored Aviator Sunglasses (58)    ₹379
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹204
3           PIRASO           UV Protection Clubmaster Sunglasses (54)    ₹239
4        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹179
..             ...                                                ...     ...
70   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹699
71  RESIST EYEWEAR  Polarized, Riding Glasses, UV Protection Wayfa...  ₹1,312
72            IDEE             UV Protection Wayfarer Sunglasses (50)  ₹1,059
73         ROADWAY  UV Protection Retro Square Sunglasses (Free Size)    ₹222
74          PIRASO            UV Protection Butterfly Sunglasses (65)    ₹392

[111 rows x 3 columns]

In [ ]:
#Q-5)Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
#https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
#place=FLIPKART

In [243]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd")

In [235]:
rating=[]
review_summary=[]
full_review=[]

In [257]:
Rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in Rating[0:100]:
    Rating=i.text
    rating.append(Rating)
    
Review_summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_summary[0:100]:
    Review_summary=i.text
    review_summary.append(Review_summary)
    
Full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in Full_review[0:100]:
    Full_review=i.text
    full_review.append(Full_review)
import pandas as pd
df=pd.DataFrame({'Rating':rating,'Review_summary':review_summary,'Full_review':full_review})
df

    Rating  Review_summary                                        Full_review
0        5  Classy product                                       Photos super
1        5  Classy product  Camera is awesome\nBest battery backup\nA perf...
2        5        Terrific                                     Very very good
3
4
..     ...             ...                                                ...
195
196
197
198
199

[200 rows x 3 columns]

In [259]:
#Q-6)Scrape data for first 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
# search field
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [260]:
shoes=driver.find_element(By.CLASS_NAME,'_3704LK')
shoes.send_keys('Sneakers')

In [261]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [ ]:
brand=[]
product_description=[]
price=[]

In [290]:
Brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand[0:20]:
    Brand=i.text
    brand.append(Brand)
    
Product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_description[0:20]:
    Product_description=i.text
    product_description.append(Product_description)
    
Price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price[0:20]:
    Price=i.text
    price.append(Price)

In [292]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'Product_description':product_description,'Price':price})
df

ValueError: All arrays must be of the same length