In [61]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda33\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda33\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda33\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda33\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda33\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda33\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda33\lib\site-packages (from requests) (2.0.4)

In [60]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [100]:
##Q-1 Write a python program to display all the header tags from wikipedia.org and make data frame.
wiki=requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup=BeautifulSoup(wiki.content)
headings=[]
for i in soup.find_all('span', class_="mw-headline"):
    headings.append(i.text)
headings
data = {'Heading Text': headings}
df = pd.DataFrame(data)
df

                    Heading Text
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [181]:
###Q-2 Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
###from https://presidentofindia.nic.in/former-presidents.htm and make data frame.
president=requests.get('https://presidentofindia.nic.in/former-presidents')
soup=BeautifulSoup(president.content)
name=[]
termofoffice=[]
for i in soup.find_all(['h3']):
    name.append(i.text)
name
data={'Name of the President':name}
df=pd.DataFrame(data)
df

           Name of the President
0           Shri Ram Nath Kovind
1          Shri Pranab Mukherjee
2   Smt Pratibha Devisingh Patil
3         DR. A.P.J. Abdul Kalam
4           Shri K. R. Narayanan
5        Dr Shankar Dayal Sharma
6            Shri R Venkataraman
7               Giani Zail Singh
8      Shri Neelam Sanjiva Reddy
9       Dr. Fakhruddin Ali Ahmed
10  Shri Varahagiri Venkata Giri
11              Dr. Zakir Husain
12  Dr. Sarvepalli Radhakrishnan
13           Dr. Rajendra Prasad

In [182]:
##Q-3 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
odi = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(odi.content,'html.parser')
#a) Top 10 odi team with in mens cricket along with the records for matches,points and rating.
name =[]
for i in soup.find_all('span', class_='u-hide-phablet')[:10]:
    name.append(i.text)

australia = soup.find('td',class_="rankings-block__banner--matches")
rest_team = []
for i in soup.find_all('td',class_ = "table-body__cell u-center-text"):
    rest_team.append(i.text)
    
   
matches = [int(num.replace(',', '')) for num in rest_team if len(num.replace(',', '')) == 2][:9]
matches.insert(0,australia.text)

australia_point = soup.find('td', class_="rankings-block__banner--points")

points = [int(num.replace(',', '')) for num in rest_team if len(num.replace(',', '')) == 4][:9]
points.insert(0,australia_point.text)

australia_rating = soup.find('td', class_="rankings-block__banner--rating u-text-right").get_text(strip=True)

#Rating of teams
rating = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)
    
rating.insert(0, australia_rating)
    
df = pd.DataFrame({'Team':name,'Matches':matches,'Points':points,'Rating':rating},index = range(1,11))
df

            Team Matches Points Rating
1      Australia      23  2,714    118
2       Pakistan      20   2316    116
3          India      36   4081    113
4    New Zealand      27   2806    104
5        England      24   2426    101
6   South Africa      19   1910    101
7     Bangladesh      28   2661     95
8    Afghanistan      16   1404     88
9      Sri Lanka      32   2794     87
10   West Indies      38   2582     68

In [183]:
#b) Top 10 ODI Batsmen along with the records of their team andrating.
player = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(player.content,'html.parser')
soup
b = soup.find('div',class_="rankings-block__banner--name")

players = []
for i in soup.find_all('td',class_="table-body__cell name")[:9]:
    x = i.get_text(strip=True)
    players.append(x)
players.insert(0,b.text)

t = soup.find('div',class_="rankings-block__banner--nationality")
m = t.get_text(strip = True)
d= m.replace('886','')

team = []
for i in soup.find_all('span',class_="table-body__logo-text")[:9]:
    team.append(i.text)
team.insert(0,d)

r = soup.find('div',class_="rankings-block__banner--rating")

#their individual rating
rating = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)
rating.insert(0,r.text)

df = pd.DataFrame({'Player Name':players,'Team':team,'Rating':rating},index = range(1,11))
df

## i was not able to do part-c

              Player Name Team Rating
1              Babar Azam  PAK    886
2   Rassie van der Dussen   SA    777
3            Fakhar Zaman  PAK    755
4             Imam-ul-Haq  PAK    745
5            Shubman Gill  IND    743
6            Harry Tector  IRE    726
7            David Warner  AUS    726
8         Quinton de Kock   SA    718
9             Virat Kohli  IND    705
10            Steve Smith  AUS    702

In [ ]:
##Q-4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame.

In [199]:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
odiwomen = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(odiwomen.content,'html.parser')
soup

name =[]
for i in soup.find_all('span', class_='u-hide-phablet')[:10]:
    name.append(i.text)

    
matches1 = soup.find('td',class_="rankings-block__banner--matches")
list1 = []
for i in soup.find_all('td',class_ = "table-body__cell u-center-text"):
    list1.append(i.text)
    
LC = [int(num.replace(',', '')) for num in list1 if len(num.replace(',', '')) == 2]
LC.insert(0,matches1.text)
Matches = LC[0:10]


Points = soup.find('td', class_="rankings-block__banner--points")

LC1 = [int(num.replace(',', '')) for num in list1 if len(num.replace(',', '')) >= 3]
LC1.insert(0,Points.text)
points = LC1[0:10]

Ratings_1 = soup.find('td', class_="rankings-block__banner--rating u-text-right").get_text(strip=True)

Rating = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)
    
Rating.insert(0, Ratings_1)

df = pd.DataFrame({'Team':name,'Matches':Matches,'Points':points,'Rating':Rating},index = range(1,11))
df

            Team Matches Points Rating
1      Australia      26  4,290    165
2        England      31   3875    165
3   South Africa      26   3098    165
4          India      30   3039    165
5    New Zealand      28   2688    165
6    West Indies      29   2743    165
7     Bangladesh      17   1284    165
8      Sri Lanka      12    820    165
9       Thailand      13    883    165
10      Pakistan      27   1678    165

In [195]:
#b) Top 10 women’s ODI Batting players along with the records of their team and rating
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(page.content,'html.parser')
soup

b = soup.find('div',class_="rankings-block__banner--name")

players = []
for i in soup.find_all('td',class_="table-body__cell name")[:9]:
    x = i.get_text(strip=True)
    players.append(x)
players.insert(0,b.text)


tt = soup.find('div',class_="rankings-block__banner--nationality")
ff = tt.get_text(strip = True)
d= ff.replace('803','')

team = []
for i in soup.find_all('span',class_="table-body__logo-text")[:9]:
    team.append(i.text)
team.insert(0,d)

ratings = soup.find('div',class_="rankings-block__banner--rating")

rating = []
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)
rating.insert(0,ratings.text)

import pandas as pd
df = pd.DataFrame({'Player_Name':players,'Team':team,'Rating':rating},index = range(1,11))
df

             Player_Name Team Rating
1   Natalie Sciver-Brunt  ENG    803
2    Chamari Athapaththu   SL    758
3            Beth Mooney  AUS    751
4        Laura Wolvaardt   SA    732
5        Smriti Mandhana  IND    708
6           Alyssa Healy  AUS    702
7       Harmanpreet Kaur  IND    694
8           Ellyse Perry  AUS    686
9            Meg Lanning  AUS    682
10       Stafanie Taylor   WI    618

In [ ]:
##I was not able to attempt the 3rd part of the question.(c)

In [ ]:
##Q-5) i was not able to solve this question

In [200]:
##Q-6) Write a python program to scrape the details of most downloaded articles from AI in last 90
##days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles)
ai = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup = BeautifulSoup(ai.content)

In [156]:
paper_titles = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_titles.append(i.text)
     
Authors = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)

    
Published_Date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)
    
 
paper_url=[]
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    x = i['href']
    paper_url.append(x)   
    
df = pd.DataFrame({'Paper Title':paper_titles,'Authors':Authors,'Published Date':Published_Date,'Paper URL':paper_url},index = range(1,25))
df

,Paper Title,Authors,Published Date,Paper URL
1,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
2,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
4,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
5,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
6,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
7,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
8,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
9,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
10,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
12,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
13,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
14,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
15,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
16,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
17,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
18,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
19,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
20,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
21,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
22,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
23,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
24,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

In [175]:
#Q-7) Write a python program to scrape mentioned details from dineout.co.in and make data frame.
restaurants = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content)

In [176]:
Lists = []
for i in soup.find_all('div',class_="restnt-card restaurant"):
    Lists.append(i.text)

  
name = []
for restaurant in soup.find_all('div', class_='restnt-card restaurant'):
    text = restaurant.get_text()
    votes = text.split('votes')[1].split(',')[0]
    name.append(votes)
        
cuisine = []
for i in soup.find_all('div', class_='restnt-card restaurant'):
    text = i.get_text()
    x = text.split('|')[1]
    cuisine.append(x)
    
   
location = []
for i in soup.find_all('div', class_ = 'restnt-loc ellipsis'):
    location.append(i.text)
    

ratings = []
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    ratings.append(i.text)
    
    
images = []
for i in soup.find_all('img', class_ ='no-img'):
    images.append(i['data-src'])

In [177]:
df = pd.DataFrame({'Restaurant Name': name, 'Cuisine': cuisine, 'Location':location, 'Ratings':ratings, 'Image URL':images},index = range(1,10))
df

,Restaurant Name,Cuisine,Location,Ratings,Image URL
1,Castle BarbequeConnaught Place,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe KnoshThe Leela Ambience Convention Hotel,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's BarbequePacific Mall,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,India GrillHilton Garden Inn,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,The Barbeque CompanyGardens Galleria,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi BarbequeTaurus Sarovar Portico,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,The Barbeque TimesM2K Corporate Park,"North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill RoomSuncity Business Tower,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...