Q-1) Scrape the details of most viewed videos on YouTube from Wikipedia. Url = 
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [2]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: trio~=0.17 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda33\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda33\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda33\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda33\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
rank=[]
name=[]
artist=[]
date=[]
views=[]

In [6]:
Rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in Rank:
    Rank=i.text
    rank.append(Rank)
    
Name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in Name:
    Name=i.text
    name.append(Name)
    
Artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in Artist:
    Artist=i.text
    artist.append(Artist)
    
Views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in Views:
    Views=i.text
    views.append(Views)
    
Date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in Date:
    Date=i.text
    date.append(Date)

In [7]:
len(rank),len(name),len(artist),len(views),len(date)

(30, 30, 30, 30, 30)

Q-2) Scrape the details team Indiaâ€™s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details: 
A) Match title (I.e. 1 ODI) 
B) Series 
C) Place 
D) Date 
E) Time

In [30]:
driver=webdriver.Chrome()

In [31]:
driver.get('https://www.bcci.tv/')

In [32]:
search = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search.click()

In [33]:
title = []
titles= driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]') 
for i in titles:
    z = i.text
    title.append(z)
title = [s.replace('-','') for s in title]

In [35]:
len(title)

9

In [36]:
series = []
sr = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]') 
for i in sr:
    z = i.text
    series.append(z)
len(series)

9

In [37]:
place = []
pl = driver.find_elements(By.XPATH,'//div[@ class="match-place ng-scope"]') 
for i in pl:
    z = i.text
    place.append(z)

In [38]:
venues = [item.split(' - ', 1)[1] for item in place]
len(venues)

9

In [39]:
date = []
dt = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]') 
for i in dt:
    z = i.text
    date.append(z)

In [40]:
len(date)

9

In [41]:
time = []
tm = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]') 
for i in tm:
    z = i.text
    time.append(z)
len(time)

9

In [43]:
df = pd.DataFrame({'Match Title':title,'Series':series,'Place':venues,'Dates':date,'Time':time}
df

,Match Title,Series,Place,Dates,Time
0,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...",22 SEP 2023,1:30 PM IST
1,Semi Final 1,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field, Hangzhou",24 SEP 2023,6:30 AM IST
2,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",24 SEP 2023,1:30 PM IST
3,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,1:30 PM IST
4,1st ODI,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Barsapara Cricket Stadium, Guwahati",30 SEP 2023,2:00 PM IST
5,Quarter Final 1,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field, Hangzhou",3 OCT 2023,6:30 AM IST
6,2nd ODI,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Greenfield International Stadium, Thiruvananth...",3 OCT 2023,2:00 PM IST
7,1st ODI,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai",8 OCT 2023,2:00 PM IST
8,2nd ODI,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi",11 OCT 2023,2:00 PM IST

Q3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details: A)
Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [44]:
driver = webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [46]:
search = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
search.click()
search_ = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search_.click() 
clicks= driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
clicks.click()

In [48]:
rank = []
ranks = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in ranks[:32]:
    p = i.text
    rank.append(p)
len(rank)

32

In [49]:
state = []
states = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in states[:32]:
    a = i.text
    state.append(a)
len(state)

32

In [50]:
gsdp1819 =[]
gs= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in gs[:32]:
    z = i.text
    gsdp1819.append(z)
len(gsdp1819)

32

In [51]:
gsdp1920 =[]
gs = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in gs[:32]:
    z = i.text
    gsdp1920.append(z)
len(gsdp1920)

32

In [56]:
share =[]
shares = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in shares[:32]:
    z = i.text
    share.append(z)
len(share)

32

In [59]:
GDP =[]
gdp = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in gdp[:32]:
    z = i.text
    GDP.append(z)
len(GDP)

32

In [67]:
Df= pd.DataFrame({'Rank':rank,'State':state,' GSDP(18-19)-at current prices ':gsdp1819,' GSDP(19-20)-at current prices':gsdp1920,' Share':share,' GDP':GDP})
Df

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share,GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385

Q-4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [68]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda33\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda33\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda33\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda33\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda33\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kartik negi\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [81]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
import requests
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [97]:
driver = webdriver.Chrome()
driver.get('https://github.com/')

In [98]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search.click()

In [104]:
title=[]
description=[]
count=[]
language=[]

In [105]:
Title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in Title:
    Title=i.text
    title.append(Title)
    
Description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in Description:
    Description=i.text
    description.append(Description)
    
Count=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in Count:
    Count=i.text
    count.append(Count)
    
Language=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in Language:
    Language=i.text
    language.append(Language)

Q-5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [124]:
driver = webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [ ]:
song=[]
artist=[]
rank=[]
peak_rank=[]
weeks=[]

In [127]:
Song=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in Song:
    Song=i.text
    song.append(Song)
    
Artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in Artist:
    Artist=i.text
    artist.append(Artist)
    
Rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
for i in Rank:
    Rank=i.text
    rank.append(Rank)
    
Peak_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in Peak_rank:
    Peak_rank=i.text
    peak_rank.append(Peak_rank)
    
Weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
for i in Weeks:
    Weeks=i.text
    weeks.append(Weeks)

Q-6) Scrape the details of Highest selling novels. 
compare 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre

In [128]:
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [130]:
book_name = []
books= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in books:
    a= i.text
    book_name.append(a)

In [131]:
author_name = []
authors= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in authors:
    b = i.text
    author_name.append(b)

In [132]:
volumes_sold = []
volumes= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volumes:
    c = i.text
    volumes_sold.append(c)

In [133]:
publisher = []
publishers = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publishers:
    d = i.text
    publisher.append(d)

In [134]:
genre = []
genres = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genres:
    e = i.text
    genre.append(e)

In [135]:
len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre)

(100, 100, 100, 100, 100)

In [136]:
df = pd.DataFrame({'Book_Name':book_name,'Author_Name':author_name,'Volumes_Sold':volumes_sold,'Publisher':publisher,'Genre':genre})
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q-7) Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You 
have to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [137]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [142]:
name = []
names = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in names:
    t = i.text
    name.append(t)

In [143]:
year_span = []
years = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in years:
    a = i.text
    year_span.append(a)

In [144]:
genre = []
genres = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genres:
    b = i.text
    genre.append(b)

In [145]:
run_time = []
runs = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in runs:
    r = i.text
    run_time.append(r)

In [146]:
ratings = []
rating = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
for i in rating:
    vv = i.text
    ratings.append(vv)

In [147]:
votes = []
vote = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
for i in vote:
    gf = i.text
    votes.append(gf)

In [148]:
len(votes),len(ratings),len(run_time),len(year_span),len(genre),len(name)

(100, 100, 100, 100, 100, 100)

In [149]:
df = pd.DataFrame({'Name':name,'Year_Span':year_span,'Genre':genre,'Run_time':run_time,'Ratings':ratings,'Votes':votes}
df

,Name,Year_Span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.2\nRate,"2,205,367"
1,Stranger Things,(2016â€“2025),"Drama, Fantasy, Horror",51 min,8.7\nRate,"1,276,697"
2,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1\nRate,"1,046,380"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5\nRate,"307,536"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6\nRate,"266,625"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),Drama,42 min,7.5\nRate,"52,759"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8\nRate,"64,815"
97,Criminal Minds,(2005â€“ ),"Crime, Drama, Mystery",42 min,8.1\nRate,"211,134"
98,Scream: The TV Series,(2015â€“2019),"Comedy, Crime, Drama",45 min,7\nRate,"43,926"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6\nRate,"266,272"

Q-8). Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
Note: - from the home page you have to go to the Show All Dataset page through code.

In [161]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [162]:
search = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
search.click()

In [163]:
dataset_names = []
datasets = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in datasets:
    d = i.text
    dataset_names.append(d)

In [164]:
datatypes = []
data = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
for i in data:
    z = i.text
    datatypes.append(z)

In [165]:
tasks = []
task = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
for i in task:
    t = i.text
    tasks.append(t)

In [166]:
no_of_inst = []
nit= driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
for i in nit:
    p = i.text
    no_of_inst.append(p)

In [167]:
no_of_attributes = []
na = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
for i in na:
    k = i.text
    no_of_attributes.append(k)

In [168]:
url = []
link = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in link:
    url.append(i.get_attribute('href'))

In [170]:
df = pd.DataFrame({'Dataset Name':dataset_names,'Data Type':datatypes,'Task':tasks,'No. of Instances':no_of_inst,'No.of Attribute':no_of_attributes})
df

,Dataset Name,Data Type,Task,No. of Instances,No.of Attribute
0,Iris,Tabular,Classification,150 Instances,4 Features
1,Heart Disease,Multivariate,Classification,303 Instances,13 Features
2,Adult,Multivariate,Classification,48.84K Instances,14 Features
3,Dry Bean Dataset,Multivariate,Classification,13.61K Instances,16 Features
4,Diabetes,,,,20 Features
5,Wine,Tabular,Classification,178 Instances,13 Features
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features
7,Car Evaluation,Multivariate,Classification,1.73K Instances,6 Features
8,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,8 Features
9,Mushroom,Multivariate,Classification,8.12K Instances,22 Features